
build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
CMakeCache.txt
CMakeLists.txt.user
CMakeLists.txt
CMakeFiles/cmake.check_cache
nbproject/*
